


<style>



@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

</style


h1 {
  font-family: 'Pacifico', cursive;
  font-size: 60px;
  text-align: center;
  color: blue;
}

p {
  font-family: 'Neucha', serif;
  color: black;
  font-size: 20px;
}

