
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');


h1 {
  font-family: cursive;
  font-size: 60px;
  text-align: center;
  color: blue;
}

p {
  font-family: 'Neucha', serif;
  color: black;
  font-size: 20px;
  text-align: center;
}

img {
  float: center;
}
