


<style>
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Indie+Flower&family=Neucha&family=Shadows+Into+Light&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Indie+Flower&family=Neucha&family=Shadows+Into+Light&display=swap');


h1 {
  font-family: 'Dancing Script', cursive;
  font-size: 20px;
  text-align: center;
  color: blue;
}

p {
  font-family: 'Neucha', serif;
  color: black;
  font-size: 10px;
}

